.admin-page-itineraries-v2__actions {
  display: flex;
  align-items: center;
  gap: 10px;
}

@media (max-width: 640px) {
  .admin-page-itineraries-v2__actions {
    width: 100%;
    flex-wrap: wrap;
    justify-content: flex-end;
  }
}
