@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}
html{
    font-size: 62.5%;
}
:root{
    --color-primary: #f37821;
    --color-black: #000;
    --color-white: #fff;
    --color-green: #65d072;
    --color-blue: #2d9cdb;
    --color-orange: #f86700;
    --color-sub-text: #d9d9d9;
}
