.header {
  backdrop-filter: saturate(120%);
}

@media (max-width: 992px) {
  .header .header__container {
    gap: 12px;
  }

  .header .header__container .header__logo {
    max-width: 240px;
  }

  .header .header__container .header__nav .header__nav-list .header__nav-item {
    padding: 14px 16px;
    font-size: 1.45rem;
  }
}

@media (max-width: 768px) {
  .header .header__container {
    min-height: 68px;
  }

  .header .header__container .header__nav {
    display: none;
  }

  .header .header__container .header__account .account-menu {
    right: -6px;
  }
}
